openapi: 3.1.0
info:
  title: Hub API Endpoints agentic-provisioning collections API
  version: 0.0.1
  description: 'We have open endpoints that you can use to retrieve information from the Hub as well as perform certain actions such as creating model, dataset or Space repos. We offer a wrapper Python client, [`huggingface_hub`](https://github.com/huggingface/huggingface_hub), and a JS client, [`huggingface.js`](https://github.com/huggingface/huggingface.js), that allow easy access to these endpoints. We also provide [webhooks](https://huggingface.co/docs/hub/webhooks) to receive real-time incremental info about repos. Enjoy!


    The base URL for those endpoints below is `https://huggingface.co`. For example, to construct the `/api/models` call below, one can call the URL [https://huggingface.co/api/models](https://huggingface.co/api/models).


    If you''re an Agent, you might prefer the [markdown version OpenAPI spec](https://huggingface.co/.well-known/openapi.md).

    '
servers:
- url: https://huggingface.co
  description: Hub
security:
- bearerAuth: []
tags:
- name: collections
  x-displayName: Collections
  description: 'Use Collections to group repositories from the Hub (Models, Datasets, Spaces and Papers) on a dedicated page.


    You can learn more about it in the Collections [guide](https://huggingface.co/docs/hub/collections). Collections can also be managed using the Python client (see [guide](https://huggingface.co/docs/huggingface_hub/main/en/guides/collections)).'
paths:
  /api/collections/{namespace}/{slug}-{id}:
    get:
      summary: Get a collection
      tags:
      - collections
      responses:
        '200':
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  slug:
                    type: string
                  title:
                    type: string
                  description:
                    type: string
                  lastUpdated:
                    type: string
                    format: date-time
                    pattern: ^((\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\d|3[01])|(0[469]|11)-(0[1-9]|[12]\d|30)|(02)-(0[1-9]|1\d|2[0-8])))T([01]\d|2[0-3]):[0-5]\d:[0-5]\d(\.\d+)?(Z)$
                  gating:
                    anyOf:
                    - const: true
                    - anyOf:
                      - const: false
                      - type: object
                        properties:
                          mode:
                            const: auto
                        required:
                        - mode
                        additionalProperties: false
                      - type: object
                        properties:
                          mode:
                            const: manual
                          notifications:
                            type: object
                            properties:
                              mode:
                                enum:
                                - bulk
                                - real-time
                              email:
                                type: string
                            required:
                            - mode
                            additionalProperties: false
                        required:
                        - mode
                        - notifications
                        additionalProperties: false
                  owner:
                    anyOf:
                    - type: object
                      properties:
                        _id:
                          type: string
                          minLength: 24
                          maxLength: 24
                          pattern: ^[0-9a-f]{24}$
                        avatarUrl:
                          type: string
                        fullname:
                          type: string
                        name:
                          type: string
                        isHf:
                          type: boolean
                        isHfAdmin:
                          type: boolean
                        isMod:
                          type: boolean
                        followerCount:
                          type: number
                        type:
                          const: org
                        plan:
                          enum:
                          - team
                          - enterprise
                          - plus
                          - academia
                        isUserFollowing:
                          type: boolean
                      required:
                      - _id
                      - avatarUrl
                      - fullname
                      - name
                      - isHf
                      - isHfAdmin
                      - isMod
                      - type
                      additionalProperties: false
                    - type: object
                      properties:
                        _id:
                          type: string
                          minLength: 24
                          maxLength: 24
                          pattern: ^[0-9a-f]{24}$
                        avatarUrl:
                          type: string
                        fullname:
                          type: string
                        name:
                          type: string
                        isHf:
                          type: boolean
                        isHfAdmin:
                          type: boolean
                        isMod:
                          type: boolean
                        followerCount:
                          type: number
                        type:
                          const: user
                        isPro:
                          type: boolean
                        isUserFollowing:
                          type: boolean
                        primaryOrg:
                          type: object
                          properties:
                            avatarUrl:
                              type: string
                            fullname:
                              type: string
                            name:
                              type: string
                            type:
                              const: org
                            isHf:
                              type: boolean
                            isFollowing:
                              type: boolean
                            plan:
                              enum:
                              - team
                              - enterprise
                              - plus
                              - academia
                            details:
                              type: string
                            hasPrivateMembersList:
                              type: boolean
                            userRole:
                              anyOf:
                              - enum:
                                - admin
                                - write
                                - contributor
                                - read
                                - no_access
                              - description: Custom role name
                                type: string
                            numUsers:
                              type: number
                          required:
                          - avatarUrl
                          - fullname
                          - name
                          - type
                          - isHf
                          additionalProperties: false
                      required:
                      - _id
                      - avatarUrl
                      - fullname
                      - name
                      - isHf
                      - isHfAdmin
                      - isMod
                      - type
                      - isPro
                      additionalProperties: false
                  position:
                    type: number
                  theme:
                    enum:
                    - orange
                    - blue
                    - green
                    - purple
                    - pink
                    - indigo
                  private:
                    type: boolean
                  upvotes:
                    type: number
                  shareUrl:
                    type: string
                  isUpvotedByUser:
                    type: boolean
                  items:
                    type: array
                    items:
                      allOf:
                      - type: object
                        properties:
                          _id:
                            type: string
                          note:
                            type: object
                            properties:
                              html:
                                type: string
                              text:
                                type: string
                            required:
                            - html
                            - text
                            additionalProperties: false
                          gallery:
                            type: array
                            items:
                              type: string
                          position:
                            type: number
                        required:
                        - _id
                        - position
                        additionalProperties: false
                      - anyOf:
                        - type: object
                          properties:
                            author:
                              type: string
                            id:
                              type: string
                            isLikedByUser:
                              type: boolean
                            likes:
                              type: number
                            datasetsServerInfo:
                              type: object
                              properties:
                                viewer:
                                  enum:
                                  - preview
                                  - viewer-partial
                                  - viewer
                                numRows:
                                  anyOf:
                                  - type: number
                                  - type: 'null'
                                libraries:
                                  type: array
                                  items:
                                    enum:
                                    - mlcroissant
                                    - webdataset
                                    - datasets
                                    - pandas
                                    - dask
                                    - distilabel
                                    - fiftyone
                                    - lance
                                    - argilla
                                    - polars
                                    - duckdb
                                    - datadesigner
                                formats:
                                  type: array
                                  items:
                                    enum:
                                    - json
                                    - csv
                                    - parquet
                                    - imagefolder
                                    - audiofolder
                                    - webdataset
                                    - text
                                    - arrow
                                    - optimized-parquet
                                    - agent-traces
                                modalities:
                                  type: array
                                  items:
                                    enum:
                                    - 3d
                                    - audio
                                    - document
                                    - geospatial
                                    - image
                                    - tabular
                                    - text
                                    - timeseries
                                    - video
                              required:
                              - viewer
                              - numRows
                              - libraries
                              - formats
                              - modalities
                              additionalProperties: false
                            private:
                              type: boolean
                            repoType:
                              const: dataset
                            downloads:
                              type: number
                            gated:
                              anyOf:
                              - const: false
                              - enum:
                                - auto
                                - manual
                            lastModified:
                              type: string
                              format: date-time
                              pattern: ^((\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\d|3[01])|(0[469]|11)-(0[1-9]|[12]\d|30)|(02)-(0[1-9]|1\d|2[0-8])))T([01]\d|2[0-3]):[0-5]\d:[0-5]\d(\.\d+)?(Z)$
                            resourceGroup:
                              type: object
                              properties:
                                id:
                                  type: string
                                  minLength: 24
                                  maxLength: 24
                                  pattern: ^[0-9a-f]{24}$
                                name:
                                  type: string
                                numUsers:
                                  type: number
                              required:
                              - id
                              - name
                              additionalProperties: false
                            isBenchmark:
                              type: boolean
                            isTraces:
                              type: boolean
                            type:
                              const: dataset
                          required:
                          - author
                          - id
                          - isLikedByUser
                          - likes
                          - private
                          - repoType
                          - downloads
                          - gated
                          - lastModified
                          - type
                          additionalProperties: false
                        - type: object
                          properties:
                            author:
                              type: string
                            downloads:
                              type: number
                            id:
                              type: string
                            availableInferenceProviders:
                              type: array
                              items:
                                type: object
                                properties:
                                  provider:
                                    enum:
                                    - baseten
                                    - black-forest-labs
                                    - cerebras
                                    - clarifai
                                    - cohere
                                    - deepinfra
                                    - fal-ai
                                    - featherless-ai
                                    - fireworks-ai
                                    - groq
                                    - hf-inference
                                    - hyperbolic
                                    - nebius
                                    - novita
                                    - nscale
                                    - nvidia
                                    - openai
                                    - ovhcloud
                                    - publicai
                                    - replicate
                                    - sambanova
                                    - scaleway
                                    - together
                                    - wavespeed
                                    - zai-org
                                  providerStatus:
                                    enum:
                                    - live
                                    - staging
                                    - error
                                  modelStatus:
                                    enum:
                                    - live
                                    - staging
                                    - error
                                  providerId:
                                    type: string
                                  task:
                                    enum:
                                    - text-classification
                                    - token-classification
                                    - table-question-answering
                                    - question-answering
                                    - zero-shot-classification
                                    - translation
                                    - summarization
                                    - feature-extraction
                                    - text-generation
                                    - fill-mask
                                    - sentence-similarity
                                    - text-to-speech
                                    - text-to-audio
                                    - automatic-speech-recognition
                                    - audio-to-audio
                                    - audio-classification
                                    - audio-text-to-text
                                    - voice-activity-detection
                                    - depth-estimation
                                    - image-classification
                                    - object-detection
                                    - image-segmentation
                                    - text-to-image
                                    - image-to-text
                                    - image-to-image
                                    - image-to-video
                                    - unconditional-image-generation
                                    - video-classification
                                    - reinforcement-learning
                                    - robotics
                                    - tabular-classification
                                    - tabular-regression
                                    - tabular-to-text
                                    - table-to-text
                                    - multiple-choice
                                    - text-ranking
                                    - text-retrieval
                                    - time-series-forecasting
                                    - text-to-video
                                    - image-text-to-text
                                    - image-text-to-image
                                    - image-text-to-video
                                    - visual-question-answering
                                    - document-question-answering
                                    - zero-shot-image-classification
                                    - graph-ml
                                    - mask-generation
                                    - zero-shot-object-detection
                                    - text-to-3d
                                    - image-to-3d
                                    - image-feature-extraction
                                    - video-text-to-text
                                    - keypoint-detection
                                    - visual-document-retrieval
                                    - any-to-any
                                    - video-to-video
                                    - other
                                    - conversational
                                  adapterType:
                                    const: lora
                                  adapterWeightsPath:
                                    type: string
                                  features:
                                    type: object
                                    properties:
                                      toolCalling:
                                        type: boolean
                                    additionalProperties: false
                                  isCheapestPricingOutput:
                                    type: boolean
                                  isFastestThroughput:
                                    type: boolean
                                  isModelAuthor:
                                    type: boolean
                                  tokensPerSecond:
                                    type: number
                                  pricingOutput:
                                    type: number
                                required:
                                - provider
                                - providerStatus
                                - modelStatus
                                - providerId
                                - task
                                - isCheapestPricingOutput
                                - isFastestThroughput
                                - isModelAuthor
                                additionalProperties: false
                            isLikedByUser:
                              type: boolean
                            lastModified:
                              type: string
                              format: date-time
                              pattern: ^((\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\d|3[01])|(0[469]|11)-(0[1-9]|[12]\d|30)|(02)-(0[1-9]|1\d|2[0-8])))T([01]\d|2[0-3]):[0-5]\d:[0-5]\d(\.\d+)?(Z)$
                            likes:
                              type: number
                            pipeline_tag:
                              type: string
                            private:
                              type: boolean
                            repoType:
                              const: model
                            gated:
                              anyOf:
                              - const: false
                              - enum:
                                - auto
                                - manual
                            resourceGroup:
                              type: object
                              properties:
                                id:
                                  type: string
                                  minLength: 24
                                  maxLength: 24
                                  pattern: ^[0-9a-f]{24}$
                                name:
                                  type: string
                                numUsers:
                                  type: number
                              required:
                              - id
                              - name
                              additionalProperties: false
                            numParameters:
                              type: number
                            authorData:
                              anyOf:
                              - type: object
                                properties:
                                  _id:
                                    type: string
                                    minLength: 24
                                    maxLength: 24
                                    pattern: ^[0-9a-f]{24}$
                                  avatarUrl:
                                    type: string
                                  fullname:
                                    type: string
                                  name:
                                    type: string
                                  isHf:
                                    type: boolean
                                  isHfAdmin:
                                    type: boolean
                                  isMod:
                                    type: boolean
                                  followerCount:
                                    type: number
                                  type:
                                    const: org
                                  plan:
                                    enum:
                                    - team
                                    - enterprise
                                    - plus
                                    - academia
                                  isUserFollowing:
                                    type: boolean
                                required:
                                - _id
                                - avatarUrl
                                - fullname
                                - name
                                - isHf
                                - isHfAdmin
                                - isMod
                                - type
                                additionalProperties: false
                              - type: object
                                properties:
                                  _id:
                                    type: string
                                    minLength: 24
                                    maxLength: 24
                                    pattern: ^[0-9a-f]{24}$
                                  avatarUrl:
                                    type: string
                                  fullname:
                                    type: string
                                  name:
                                    type: string
                                  isHf:
                                    type: boolean
                                  isHfAdmin:
                                    type: boolean
                                  isMod:
                                    type: boolean
                                  followerCount:
                                    type: number
                                  type:
                                    const: user
                                  isPro:
                                    type: boolean
                                  isUserFollowing:
                                    type: boolean
                                  primaryOrg:
                                    type: object
                                    properties:
                                      avatarUrl:
                                        type: string
                                      fullname:
                                        type: string
                                      name:
                                        type: string
                                      type:
                                        const: org
                                      isHf:
                                        type: boolean
                                      isFollowing:
                                        type: boolean
                                      plan:
                                        enum:
                                        - team
                                        - enterprise
                                        - plus
                                        - academia
                                      details:
                                        type: string
                                      hasPrivateMembersList:
                                        type: boolean
                                      userRole:
                                        anyOf:
                                        - enum:
                                          - admin
                                          - write
                                          - contributor
                                          - read
                                          - no_access
                                        - description: Custom role name
                                          type: string
                                      numUsers:
                                        type: number
                                    required:
                                    - avatarUrl
                                    - fullname
                                    - name
                                    - type
                                    - isHf
                                    additionalProperties: false
                                required:
                                - _id
                                - avatarUrl
                                - fullname
                                - name
                                - isHf
                                - isHfAdmin
                                - isMod
                                - type
                                - isPro
                                additionalProperties: false
                            widgetOutputUrls:
                              type: array
                              items:
                                type: string
                                format: uri
                            type:
                              const: model
                          required:
                          - author
                          - downloads
                          - id
                          - availableInferenceProviders
                          - isLikedByUser
                          - lastModified
                          - likes
                          - private
                          - repoType
                          - gated
                          - type
                          additionalProperties: false
                        - type: object
                          properties:
                            author:
                              type: string
                            colorFrom:
                              type: string
                            colorTo:
                              type: string
                            createdAt:
                              type: string
                              format: date-time
                              pattern: ^((\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\d|3[01])|(0[469]|11)-(0[1-9]|[12]\d|30)|(02)-(0[1-9]|1\d|2[0-8])))T([01]\d|2[0-3]):[0-5]\d:[0-5]\d(\.\d+)?(Z)$
                            emoji:
                              type: string
                            id:
                              type: string
                            isLikedByUser:
                              type: boolean
                            lastModified:
                              type: string
                              format: date-time
                              pattern: ^((\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\d|3[01])|(0[469]|11)-(0[1-9]|[12]\d|30)|(02)-(0[1-9]|1\d|2[0-8])))T([01]\d|2[0-3]):[0-5]\d:[0-5]\d(\.\d+)?(Z)$
                            likes:
                              type: number
                            pinned:
                              type: boolean
                            private:
                              type: boolean
                            repoType:
                              const: space
                            title:
                              type: string
                            sdk:
                              enum:
                              - gradio
                              - docker
                              - static
                              - streamlit
                            runtime:
                              type: object
                              properties:
                                stage:
                                  enum:
                                  - NO_APP_FILE
                                  - CONFIG_ERROR
                                  - BUILDING
                                  - BUILD_ERROR
                                  - APP_STARTING
                                  - RUNNING
                                  - RUNNING_BUILDING
                                  - RUNNING_APP_STARTING
                                  - RUNTIME_ERROR
                                  - DELETING
                                  - STOPPED
                                  - PAUSED
                                  - SLEEPING
                                hardware:
                                  type: object
                                  properties:
                                    current:
                                      anyOf:
                                      - enum:
                                        - cpu-basic
                                        - cpu-upgrade
                                        - cpu-performance
                                        - cpu-xl
                                        - sprx8
                                        - zero-a10g
                                        - t4-small
                                        - t4-medium
                                        - l4x1
                                        - l4x4
                                        - l40sx1
                                        - l40sx4
                                        - l40sx8
                                        - a10g-small
                                        - a10g-large
                                        - a10g-largex2
                                        - a10g-largex4
                                        - a100-large
                                        - a100x4
                                        - a100x8
                                        - h200
                                        - h200x2
                                        - h200x4
                                        - h200x8
                                        - rtx-pro-6000
                                        - rtx-pro-6000x2
                                        - rtx-pro-6000x4
                                        - rtx-pro-6000x8
                                        - inf2x6
                                      - type: 'null'
                                    requested:
                                      anyOf:
                                      - enum:
                                        - cpu-basic
                                        - cpu-upgrade
                                        - cpu-performance
                                        - cpu-xl
                                        - sprx8
                                        - zero-a10g
                                        - t4-small
                                        - t4-medium
                                        - l4x1
                                        - l4x4
                                        - l40sx1
                                        - l40sx4
                                        - l40sx8
                                        - a10g-small
                                        - a10g-large
                                        - a10g-largex2
                                        - a10g-largex4
                                        - a100-large
                                        - a100x4
                                        - a100x8
                                        - h200
                                        - h200x2
                                        - h200x4
                                        - h200x8
                                        - rtx-pro-6000
                                        - rtx-pro-6000x2
                                        - rtx-pro-6000x4
                                        - rtx-pro-6000x8
                                        - inf2x6
                                      - type: 'null'
                                  required:
                                  - current
                                  - requested
                                  additionalProperties: false
                                errorMessage:
                                  type: string
                                gcTimeout:
                                  anyOf:
                                  - type: number
                                  - type: 'null'
                                replicas:
                                  type: object
                                  properties:
                                    current:
                                      anyOf:
                                      - type: number
                                      - type: 'null'
                                    requested:
                                      anyOf:
                                      - type: number
                                      - const: auto
                                  required:
                                  - requested
                                  additionalProperties: false
                                devMode:
                                  type: boolean
                                domains:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      domain:
                                        type: string
                                      isCustom:
                                        anyOf:
                                        - type: boolean
                                        - type: 'null'
                                      stage:
                                        enum:
                                        - READY
                                        - PENDING
                                        - PENDING_CHALLENGE
                                        - EXPIRED_CHALLENGE
                                    required:
                                    - domain
                                    - stage
                                    additionalProperties: false
                                sha:
                                  type: string
                                hotReloading:
                                  type: object
                                  properties:
                                    status:
                                      type: string
                                    replicaStatuses:
                                      type: array
                                      items:
                                        type: array
                                        prefixItems:
                                        - type: string
                                        - anyOf:
                                          - type: string
                                          - type: 'null'
                                  required:
                                  - status
                                  - replicaStatuses
                                  additionalProperties: false
                              required:
                              - stage
                              - hardware
                              - replicas
                              additionalProperties: false
                            originRepo:
                              type: object
                              properties:
                                author:
                                  anyOf:
                                  - type: object
                                    properties:
                                      _id:
                                        type: string
                                        minLength: 24
                                        maxLength: 24
                                        pattern: ^[0-9a-f]{24}$
                                      avatarUrl:
                                        type: string
                                      fullname:
                                        type: string
                                      name:
                                        type: string
                                      isHf:
                                        type: boolean
                                      isHfAdmin:
                                        type: boolean
                                      isMod:
                                        type: boolean
                                      followerCount:
                                        type: number
                                      type:
                                        const: org
                                      plan:
                                        enum:
                                        - team
                                        - enterprise
                                        - plus
                                        - academia
                                      isUserFollowing:
                                        type: boolean
                                    required:
                                    - _id
                                    - avatarUrl
                                    - fullname
                                    - name
                                    - isHf
                                    - isHfAdmin
                                    - isMod
                                    - type
                                    additionalProperties: false
                                  - type: object
                                    properties:
                                      _id:
                                        type: string
                                        minLength: 24
                                        maxLength: 24
                                        pattern: ^[0-9a-f]{24}$
                                      avatarUrl:
                                        type: string
                                      fullname:
                                        type: string
                                      name:
                                        type: string
                                      isHf:
                                        type: boolean
                                      isHfAdmin:
                                        type: boolean
                                      isMod:
                                        type: boolean
                                      followerCount:
                                        type: number
                                      type:
                                        const: user
                                      isPro:
                                        type: boolean
                                      isUserFollowing:
                                        type: boolean
                                      primaryOrg:
                                        type: object
                                        properties:
                                          avatarUrl:
                                            type: string
                                          fullname:
                                            type: string
                                          name:
                                            type: string
                                          type:
                                            const: org
                                          isHf:
                                            type: boolean
                                          isFollowing:
                                            type: boolean
                                          plan:
                                            enum:
                                            - team
                                            - enterprise
                                            - plus
                                            - academia
                                          details:
                                            type: string
                                          hasPrivateMembersList:
                                            type: boolean
                                          userRole:
                                            anyOf:
                                            - enum:
                                              - admin
                                              - write
                                              - contributor
                                              - read
                                              - no_access
                                            - description: Custom role name
                                              type: string
                                          numUsers:
                                            type: number
                                        required:
                                        - avatarUrl
                                        - fullname
                                        - name
                                        - type
                                        - isHf
                                        additionalProperties: false
                                    required:
                                    - _id
                                    - avatarUrl
                                    - fullname
                                    - name
                                    - isHf
                                    - isHfAdmin
                                    - isMod
                                    - type
                                    - isPro
                                    additionalProperties: false
                                name:
                                  type: string
                              required:
                              - author
                              - name
                              additionalProperties: false
                            ai_short_description:
                              type: string
                            ai_category:
                              type: string
                            trendingScore:
                              type: number
                            resourceGroup:
                              type: object
                              properties:
                                id:
                                  type: string
                                  minLength: 24
                                  maxLength: 24
                                  pattern: ^[0-9a-f]{24}$
                                name:
                                  type: string
                                numUsers:
                                  type: number
                              required:
                              - id
                              - name
                              additionalProperties: false
                            tags:
                              type: array
                              items:
                                type: string
                            authorData:
                              anyOf:
                              - type: object
                                properties:
                                  _id:
                                    type: string
                                    minLength: 24
                                    maxLength: 24
                                    pattern: ^[0-9a-f]{24}$
                                  avatarUrl:
                                    type: string
                                  fullname:
                                    type: string
                                  name:
                                    type: string
                                  isHf:
                                    type: boolean
                                  isHfAdmin:
                                    type: boolean
                                  isMod:
                                    type: boolean
                                  followerCount:
                                    type: number
                                  type:
                                    const: org
                                  plan:
                                    enum:
                                    - team
                                    - enterprise
                                    - plus
                                    - academia
                                  isUserFollowing:
                                    type: boolean
                                required:
                                - _id
                                - avatarUrl
                                - fullname
                                - name
                                - isHf
                                - isHfAdmin
                                - isMod
                                - type
                                additionalProperties: false
                              - type: object
                                properties:
                                  _id:
                                    type: string
                                    minLength: 24
                                    maxLength: 24
                                    pattern: ^[0-9a-f]{24}$
                                  avatarUrl:
                                    type: string
                                  fullname:
                                    type: string
                                  name:
                                    type: string
                                  isHf:
                                    type: boolean
                                  isHfAdmin:
                                    type: boolean
                                  isMod:
                                    type: boolean
                                  followerCount:
                                    type: number
                                  type:
                                    const: user
                                  isPro:
                                    type: boolean
                                  isUserFollowing:
                                    type: boolean
                                  primaryOrg:
                                    type: object
                                    properties:
                                      avatarUrl:
                                        type: string
                                      fullname:
                                        type: string
                                      name:
                                        type: string
                                      type:
                                        const: org
                                      isHf:
                                        type: boolean
                                      isFollowing:
                                        type: boolean
                                      plan:
                                        enum:
                                        - team
                                        - enterprise
                                        - plus
                                        - academia
                                      details:
                                        type: string
                                      hasPrivateMembersList:
                                        type: boolean
                                      userRole:
                                        anyOf:
                                        - enum:
                                          - admin
                                          - write
                                          - contributor
                                          - read
                                          - no_access
                                        - description: Custom role name
                                          type: string
                                      numUsers:
                                        type: number
                                    required:
                                    - avatarUrl
                                    - fullname
                                    - name
                                    - type
                                    - isHf
                                    additionalProperties: false
                                required:
                                - _id
                                - avatarUrl
                                - fullname
                                - name
                                - isHf
                                - isHfAdmin
                                - isMod
                                - type
                                - isPro
                                additionalProperties: false
                            shortDescription:
                              type: string
                            semanticRelevancyScore:
                              type: number
                            featured:
                              type: boolean
                            visibility:
                              enum:
                              - public
                              - private
                              - protected
                            type:
                              const: space
                          required:
                          - author
                          - colorFrom
                          - colorTo
                          - createdAt
                          - emoji
                          - id
                          - isLikedByUser
                          - lastModified
                          - likes
                          - pinned
                          - private
                          - repoType
                          - title
                          - runtime
                          - tags
                          - featured
                          - visibility
                          - type
                          additionalProperties: false
                        - type: object
                          properties:
                            id:
                              type: string
                            title:
                              type: string
                            upvotes:
                              type: number
                            publishedAt:
                              type: string
                              format: date-time
                              pattern: ^((\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\d|3[01])|(0[469]|11)-(0[1-9]|[12]\d|30)|(02)-(0[1-9]|1\d|2[0-8])))T([01]\d|2[0-3]):[0-5]\d:[0-5]\d(\.\d+)?(Z)$
                            thumbnailUrl:
                              type: string
                            isUpvotedByUser:
                              type: boolean
                            type:
                              const: paper
                          required:
                          - id
                          - title
                          - upvotes
                          - publishedAt
                          - type
                          additionalProperties: false
                        - type: object
                          properties:
                            slug:
                              type: string
                            lastUpdated:
                              type: string
                              format: date-time
                              pattern: ^((\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\d|3[01])|(0[469]|11)-(0[1-9]|[12]\d|30)|(02)-(0[1-9]|1\d|2[0-8])))T([01]\d|2[0-3]):[0-5]\d:[0-5]\d(\.\d+)?(Z)$
                            description:
                              type: string
                            owner:
                              anyOf:
                              - type: object
                                properties:
                                  _id:
                                    type: string
                                    minLength: 24
                                    maxLength: 24
                                    pattern: ^[0-9a-f]{24}$
                                  avatarUrl:
                                    type: string
                                  fullname:
                                    type: string
                                  name:
                                    type: string
                                  isHf:
                                    type: boolean
                                  isHfAdmin:
                                    type: boolean
                                  isMod:
                                    type: boolean
                                  followerCount:
                                    type: number
                                  type:
                                    const: org
                                  plan:
                                    enum:
                                    - team
                                    - enterprise
                                    - plus
                                    - academia
                                  isUserFollowing:
                                    type: boolean
                                required:
                                - _id
                                - avatarUrl
                                - fullname
                                - name
                                - isHf
                                - isHfAdmin
                                - isMod
                                - type
                                additionalProperties: false
                              - type: object
                                properties:
                                  _id:
                                    type: string
                                    minLength: 24
                                    maxLength: 24
                                    pattern: ^[0-9a-f]{24}$
                                  avatarUrl:
                                    type: string
                                  fullname:
                                    type: string
                                  name:
                                    type: string
                                  isHf:
                                    type: boolean
                                  isHfAdmin:
                                    type: boolean
                                  isMod:
                                    type: boolean
                                  followerCount:
                                    type: number
                                  type:
                                    const: user
                                  isPro:
                                    type: boolean
                                  isUserFollowing:
                                    type: boolean
                                  primaryOrg:
                                    type: object
                                    properties:
                                      avatarUrl:
                                        type: string
                                      fullname:
                                        type: string
                                      name:
                                        type: string
                                      type:
                                        const: org
                                      isHf:
                                        type: boolean
                                      isFollowing:
                                        type: boolean
                                      plan:
                                        enum:
                                        - team
                                        - enterprise
                                        - plus
                                        - academia
                                      details:
                                        type: string
                                      hasPrivateMembersList:
                                        type: boolean
                                      userRole:
                                        anyOf:
                                        - enum:
                                          - admin
                                          - write
                                          - contributor
                                          - read
                                          - no_access
                                        - description: Custom role name
                                          type: string
                                      numUsers:
                                        type: number
                                    required:
                                    - avatarUrl
                                    - fullname
                                    - name
                                    - type
                                    - isHf
                                    additionalProperties: false
                                required:
                                - _id
                                - avatarUrl
                                - fullname
                                - name
                                - isHf
                                - isHfAdmin
                                - isMod
                                - type
                                - isPro
                                additionalProperties: false
                            title:
                              type: string
                            theme:
                              enum:
                              - orange
                              - blue
                              - green
                              - purple
                              - pink
                              - indigo
                            upvotes:
                              type: number
                            isUpvotedByUser:
                              type: boolean
                            shareUrl:
                              type: string
                            id:
                              type: string
                            numberItems:
                              type: number
                            type:
                              const: collection
                          required:
                          - slug
                          - lastUpdated
                          - owner
                          - title
                          - theme
                          - upvotes
                          - isUpvotedByUser
                          - shareUrl
                          - id
                          - numberItems
                          - type
                          additionalProperties: false
                        - type: object
                          properties:
                            _id:
                              type: string
                              minLength: 24
                              maxLength: 24
                              pattern: ^[0-9a-f]{24}$
                            author:
                              type: string
                            id:
                              type: string
                            private:
                              anyOf:
                              - type: boolean
                              - type: 'null'
                            createdAt:
                              type: string
                              format: date-time
                              pattern: ^((\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\d|3[01])|(0[469]|11)-(0[1-9]|[12]\d|30)|(02)-(0[1-9]|1\d|2[0-8])))T([01]\d|2[0-3]):[0-5]\d:[0-5]\d(\.\d+)?(Z)$
                            updatedAt:
                              type: string
                              format: date-time
                              pattern: ^((\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\d|3[01])|(0[469]|11)-(0[1-9]|[12]\d|30)|(02)-(0[1-9]|1\d|2[0-8])))T([01]\d|2[0-3]):[0-5]\d:[0-5]\d(\.\d+)?(Z)$
                            size:
                              description: The amount of storage used by the bucket in bytes
                              type: number
                            totalFiles:
                              description: The total number of files in the bucket
                              type: number
                            repoType:
                              const: bucket
                            cdnRegions:
                              type: array
                              items:
                                type: object
                                properties:
                                  provider:
                                    enum:
                                    - gcp
                                    - aws
                                  region:
                                    enum:
                                    - us
                                    - eu
                                required:
                                - provider
                                - region
                                additionalProperties: false
                            resourceGroup:
                              type: object
                              properties:
                                id:
                                  type: string
                                  minLength: 24
                                  maxLength: 24
                                  pattern: ^[0-9a-f]{24}$
                                name:
                                  type: string
                                numUsers:
                                  type: number
                              required:
                              - id
                              - name
                              additionalProperties: false
                            type:
                              const: bucket
                          required:
                          - _id
                          - author
                          - id
                          - createdAt
                          - updatedAt
                          - size
                          - totalFiles
                          - repoType
                          - cdnRegions
                          - type
                          additionalProperties: false
                required:
                - slug
                - title
                - lastUpdated
                - gating
                - owner
                - position
                - theme
                - private
                - upvotes
                - shareUrl
                - isUpvotedByUser
                - items
                additionalProperties: false
          description: The collection data
      parameters:
      - name: namespace
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
    patch:
      summary: Update a collection
      tags:
      - collections
      requestBody:
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              type: object
              properties:
                position:
                  type: integer
                  minimum: 0
                  maximum: 9007199254740991
                private:
                  type: boolean
                theme:
                  enum:
                  - orange
                  - blue
                  - green
                  - purple
                  - pink
                  - indigo
                title:
                  type: string
                  minLength: 1
                  maxLength: 60
                description:
                  type: string
                  maxLength: 150
                gating:
                  anyOf:
                  - const: false
                  - type: object
                    properties:
                      mode:
                        const: auto
                    required:
                    - mode
                  - type: object
                    properties:
                      mode:
                        const: manual
                      notifications:
                        type: object
                        properties:
                          mode:
                            enum:
                            - bulk
                            - real-time
                          email:
                            type: string
                        required:
                        - mode
                    required:
                    - mode
                    - notifications
      responses:
        '200':
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      slug:
                        type: string
                      title:
                        type: string
                      description:
                        type: string
                      lastUpdated:
                        type: string
                        format: date-time
                        pattern: ^((\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\d|3[01])|(0[469]|11)-(0[1-9]|[12]\d|30)|(02)-(0[1-9]|1\d|2[0-8])))T([01]\d|2[0-3]):[0-5]\d:[0-5]\d(\.\d+)?(Z)$
                      gating:
                        anyOf:
                        - const: true
                        - anyOf:
                          - const: false
                          - type: object
                            properties:
                              mode:
                                const: auto
                            required:
                            - mode
                            additionalProperties: false
                          - type: object
                            properties:
                              mode:
                                const: manual
                              notifications:
                                type: object
                                properties:
                                  mode:
                                    enum:
                                    - bulk
                                    - real-time
                                  email:
                                    type: string
                                required:
                                - mode
                                additionalProperties: false
                            required:
                            - mode
                            - notifications
                            additionalProperties: false
                      owner:
                        anyOf:
                        - type: object
                          properties:
                            _id:
                              type: string
                              minLength: 24
                              maxLength: 24
                              pattern: ^[0-9a-f]{24}$
                            avatarUrl:
                              type: string
                            fullname:
                              type: string
                            name:
                              type: string
                            isHf:
                              type: boolean
                            isHfAdmin:
                              type: boolean
                            isMod:
                              type: boolean
                            followerCount:
                              type: number
                            type:
                              const: org
                            plan:
                              enum:
                              - team
                              - enterprise
                              - plus
                              - academia
                            isUserFollowing:
                              type: boolean
                          required:
                          - _id
                          - avatarUrl
                          - fullname
                          - name
                          - isHf
                          - isHfAdmin
                          - isMod
                          - type
                          additionalProperties: false
                        - type: object
                          properties:
                            _id:
                              type: string
                              minLength: 24
                              maxLength: 24
                              pattern: ^[0-9a-f]{24}$
                            avatarUrl:
                              type: string
                            fullname:
                              type: string
                            name:
                              type: string
                            isHf:
                              type: boolean
                            isHfAdmin:
                              type: boolean
                            isMod:
                              type: boolean
                            followerCount:
                              type: number
                            type:
                              const: user
                            isPro:
                              type: boolean
                            isUserFollowing:
                              type: boolean
                            primaryOrg:
                              type: object
                              properties:
                                avatarUrl:
                                  type: string
                                fullname:
                                  type: string
                                name:
                                  type: string
                                type:
                                  const: org
                                isHf:
                                  type: boolean
                                isFollowing:
                                  type: boolean
                                plan:
                                  enum:
                                  - team
                                  - enterprise
                                  - plus
                                  - academia
                                details:
                                  type: string
                                hasPrivateMembersList:
                                  type: boolean
                                userRole:
                                  anyOf:
                                  - enum:
                                    - admin
                                    - write
                                    - contributor
                                    - read
                                    - no_access
                                  - description: Custom role name
                                    type: string
                                numUsers:
                                  type: number
                              required:
                              - avatarUrl
                              - fullname
                              - name
                              - type
                              - isHf
                              additionalProperties: false
                          required:
                          - _id
                          - avatarUrl
                          - fullname
                          - name
                          - isHf
                          - isHfAdmin
                          - isMod
                          - type
                          - isPro
                          additionalProperties: false
                      position:
                        type: number
                      theme:
                        enum:
                        - orange
                        - blue
                        - green
                        - purple
                        - pink
                        - indigo
                      private:
                        type: boolean
                      upvotes:
                        type: number
                      shareUrl:
                        type: string
                      isUpvotedByUser:
                        type: boolean
                      items:
                        type: array
                        items:
                          allOf:
                          - type: object
                            properties:
                              _id:
                                type: string
                              note:
                                type: object
                                properties:
                                  html:
                                    type: string
                                  text:
                                    type: string
                                required:
                                - html
                                - text
                                additionalProperties: false
                              gallery:
                                type: array
                                items:
                                  type: string
                              position:
                                type: number
                            required:
                            - _id
                            - position
                            additionalProperties: false
                          - anyOf:
                            - type: object
                              properties:
                                author:
                                  type: string
                                id:
                                  type: string
                                isLikedByUser:
                                  type: boolean
                                likes:
                                  type: number
                                datasetsServerInfo:
                                  type: object
                                  properties:
                                    viewer:
                                      enum:
                                      - preview
                                      - viewer-partial
                                      - viewer
                                    numRows:
                                      anyOf:
                                      - type: number
                                      - type: 'null'
                                    libraries:
                                      type: array
                                      items:
                                        enum:
                                        - mlcroissant
                                        - webdataset
                                        - datasets
                                        - pandas
                                        - dask
                                        - distilabel
                                        - fiftyone
                                        - lance
                                        - argilla
                                        - polars
                                        - duckdb
                                        - datadesigner
                                    formats:
                                      type: array
                                      items:
                                        enum:
                                        - json
                                        - csv
                                        - parquet
                                        - imagefolder
                                        - audiofolder
                                        - webdataset
                                        - text
                                        - arrow
                                        - optimized-parquet
                                        - agent-traces
                                    modalities:
                                      type: array
                                      items:
                                        enum:
                                        - 3d
                                        - audio
                                        - document
                                        - geospatial
                                        - image
                                        - tabular
                                        - text
                                        - timeseries
                                        - video
                                  required:
                                  - viewer
                                  - numRows
                                  - libraries
                                  - formats
                                  - modalities
                                  additionalProperties: false
                                private:
                                  type: boolean
                                repoType:
                                  const: dataset
                                downloads:
                                  type: number
                                gated:
                                  anyOf:
                                  - const: false
                                  - enum:
                                    - auto
                                    - manual
                                lastModified:
                                  type: string
                                  format: date-time
                                  pattern: ^((\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\d|3[01])|(0[469]|11)-(0[1-9]|[12]\d|30)|(02)-(0[1-9]|1\d|2[0-8])))T([01]\d|2[0-3]):[0-5]\d:[0-5]\d(\.\d+)?(Z)$
                                resourceGroup:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      minLength: 24
                                      maxLength: 24
                                      pattern: ^[0-9a-f]{24}$
                                    name:
                                      type: string
                                    numUsers:
                                      type: number
                                  required:
                                  - id
                                  - name
                                  additionalProperties: false
                                isBenchmark:
                                  type: boolean
                                isTraces:
                                  type: boolean
                                type:
                                  const: dataset
                              required:
                              - author
                              - id
                              - isLikedByUser
                              - likes
                              - private
                              - repoType
                              - downloads
                              - gated
                              - lastModified
                              - type
                              additionalProperties: false
                            - type: object
                              properties:
                                author:
                                  type: string
                                downloads:
                                  type: number
                                id:
                                  type: string
                                availableInferenceProviders:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      provider:
                                        enum:
                                        - baseten
                                        - black-forest-labs
                                        - cerebras
                                        - clarifai
                                        - cohere
                                        - deepinfra
                                        - fal-ai
                                        - featherless-ai
                                        - fireworks-ai
                                        - groq
                                        - hf-inference
                                        - hyperbolic
                                        - nebius
                                        - novita
                                        - nscale
                                        - nvidia
                                        - openai
                                        - ovhcloud
                                        - publicai
                                        - replicate
                                        - sambanova
                                        - scaleway
                                        - together
                                        - wavespeed
                                        - zai-org
                                      providerStatus:
                                        enum:
                                        - live
                                        - staging
                                        - error
                                      modelStatus:
                                        enum:
                                        - live
                                        - staging
                                        - error
                                      providerId:
                                        type: string
                                      task:
                                        enum:
                                        - text-classification
                                        - token-classification
                                        - table-question-answering
                                        - question-answering
                                        - zero-shot-classification
                                        - translation
                                        - summarization
                                        - feature-extraction
                                        - text-generation
                                        - fill-mask
                                        - sentence-similarity
                                        - text-to-speech
                                        - text-to-audio
                                        - automatic-speech-recognition
                                        - audio-to-audio
                                        - audio-classification
                                        - audio-text-to-text
                                        - voice-activity-detection
                                        - depth-estimation
                                        - image-classification
                                        - object-detection
                                        - image-segmentation
                                        - text-to-image
                                        - image-to-text
                                        - image-to-image
                                        - image-to-video
                                        - unconditional-image-generation
                                        - video-classification
                                        - reinforcement-learning
                                        - robotics
                                        - tabular-classification
                                        - tabular-regression
                                        - tabular-to-text
                                        - table-to-text
                                        - multiple-choice
                                        - text-ranking
                                        - text-retrieval
                                        - time-series-forecasting
                                        - text-to-video
                                        - image-text-to-text
                                        - image-text-to-image
                                        - image-text-to-video
                                        - visual-question-answering
                                        - document-question-answering
                                        - zero-shot-image-classification
                                        - graph-ml
                                        - mask-generation
                                        - zero-shot-object-detection
                                        - text-to-3d
                                        - image-to-3d
                                        - image-feature-extraction
                                        - video-text-to-text
                                        - keypoint-detection
                                        - visual-document-retrieval
                                        - any-to-any
                                        - video-to-video
                                        - other
                                        - conversational
                                      adapterType:
                                        const: lora
                                      adapterWeightsPath:
                                        type: string
                                      features:
                                        type: object
                                        properties:
                                          toolCalling:
                                            type: boolean
                                        additionalProperties: false
                                      isCheapestPricingOutput:
                                        type: boolean
                                      isFastestThroughput:
                                        type: boolean
                                      isModelAuthor:
                                        type: boolean
                                      tokensPerSecond:
                                        type: number
                                      pricingOutput:
                                        type: number
                                    required:
                                    - provider
                                    - providerStatus
                                    - modelStatus
                                    - providerId
                                    - task
                                    - isCheapestPricingOutput
                                    - isFastestThroughput
                                    - isModelAuthor
                                    additionalProperties: false
                                isLikedByUser:
                                  type: boolean
                                lastModified:
                                  type: string
                                  format: date-time
                                  pattern: ^((\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\d|3[01])|(0[469]|11)-(0[1-9]|[12]\d|30)|(02)-(0[1-9]|1\d|2[0-8])))T([01]\d|2[0-3]):[0-5]\d:[0-5]\d(\.\d+)?(Z)$
                                likes:
                                  type: number
                                pipeline_tag:
                                  type: string
                                private:
                                  type: boolean
                                repoType:
                                  const: model
                                gated:
                                  anyOf:
                                  - const: false
                                  - enum:
                                    - auto
                                    - manual
                                resourceGroup:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      minLength: 24
                                      maxLength: 24
                                      pattern: ^[0-9a-f]{24}$
                                    name:
                                      type: string
                                    numUsers:
                                      type: number
                                  required:
                                  - id
                                  - name
                                  additionalProperties: false
                                numParameters:
                                  type: number
                                authorData:
                                  anyOf:
                                  - type: object
                                    properties:
                                      _id:
                                        type: string
                                        minLength: 24
                                        maxLength: 24
                                        pattern: ^[0-9a-f]{24}$
                                      avatarUrl:
                                        type: string
                                      fullname:
                                        type: string
                                      name:
                                        type: string
                                      isHf:
                                        type: boolean
                                      isHfAdmin:
                                        type: boolean
                                      isMod:
                                        type: boolean
                                      followerCount:
                                        type: number
                                      type:
                                        const: org
                                      plan:
                                        enum:
                                        - team
                                        - enterprise
                                        - plus
                                        - academia
                                      isUserFollowing:
                                        type: boolean
                                    required:
                                    - _id
                                    - avatarUrl
                                    - fullname
                                    - name
                                    - isHf
                                    - isHfAdmin
                                    - isMod
                                    - type
                                    additionalProperties: false
                                  - type: object
                                    properties:
                                      _id:
                                        type: string
                                        minLength: 24
                                        maxLength: 24
                                        pattern: ^[0-9a-f]{24}$
                                      avatarUrl:
                                        type: string
                                      fullname:
                                        type: string
                                      name:
                                        type: string
                                      isHf:
                                        type: boolean
                                      isHfAdmin:
                                        type: boolean
                                      isMod:
                                        type: boolean
                                      followerCount:
                                        type: number
                                      type:
                                        const: user
                                      isPro:
                                        type: boolean
                                      isUserFollowing:
                                        type: boolean
                                      primaryOrg:
                                        type: object
                                        properties:
                                          avatarUrl:
[...]
